html 
  head 
    title HMS API 
    
  body
    h2 Welcome to Hospital Management System API!
      |
      hr
      |
    p Visit 
      a(href='https://hms-backend-server.herokuapp.com/doctors')
        span Doctor
      |  to check database of all working doctors.
    p Visit 
      a(href='https://hms-backend-server.herokuapp.com/patients')
        span Patient
      |  to check database of all registered patients.
