.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  max-width: 50vw;
}

@media (max-width: 500px) {
  .card {
    min-width: 80vw;
  }
}
